.lof {
    border-radius: 15px;
    border: 2px solid #535C91;
    padding: 40px;
    background-color: #1B1A55; 
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.lof table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #11182b;
    text-align: center;
  }
  .lof th, td {
    border: 1px solid #333;
    padding: 12px;
  }
  .lof th {
    background-color: #162040;
    color: #fff;
  }
  .lof tr:nth-child(even) {
    background-color: #141d33;
  }

.character {
    border-radius: 15px;
    border: 2px solid #535C91;
    padding: 40px;
    background-color: #1B1A55; 
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.character dt{
    font-size: 35px;
}

.character ol, 
.character dl {
    font-size: 20px;
    color: #e0e0ff;
    line-height: 1.6;
    text-align: justify;
}

.character img {
    border-radius: 12px;
    transition: all 0.3s ease;
}

.character a{
  text-decoration: none;
    color: #EAEFEF; 
    margin: 0 15px;
    transition: all 0.3s ease;
}

.banners table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #11182b;
}
.banners th, td {
  border: 1px solid #333;
  padding: 12px;
  vertical-align: top;
  text-align: left;
}
.banners th {
  background-color: #162040;
  color: #fff;
}
.banners tr:nth-child(even) {
  background-color: #141d33;
}
.banners .version {
  color: #4aa3ff;
  font-weight: bold;
  width: 15%;
}
.banners .phase {
  color: #57b2ff;
  font-weight: bold;
}
.banners .char-img {
  text-align: center;
  width: 120px;
}
.banners .char-img img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}