.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s; /* smooth transition */
}

.navbar-nav .nav-link:hover {
  background-color: #6C70B1; /* lighter shade for hover */
  color: #ffffff; /* text color on hover */
}