footer{
    padding: 40px;
    background-image: url("/img/foter.jpg");
    margin: 20px auto;
    white-space: nowrap;
    width: 94.7%;
    text-align: center;
    flex-direction: column;
    min-height: 50px;
    position:absolute
}

footer i{
    font-size: 30px;
    justify-content: space-around;
    gap: 100px;
    
}

footer a{
    color: #EAEFEF;
    text-decoration: none;
}
