.about, .banners {
    border-radius: 15px;
    border: 2px solid #535C91;
    padding: 40px;
    background-color: #1B1A55; 
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lof a {
    text-decoration: none;
    font-weight: 100px;
    color: #EAEFEF; 
    margin: 0 15px;
    transition: all 0.3s ease;
}

.about h1 {
    text-align: center;
    font-size: 32px;
    font-style: italic;
    color: #EAEFEF;
    margin-bottom: 20px;
}

.about img {
    border-radius: 12px;
    transition: all 0.3s ease;
    margin: 0 auto;
    display: block;
}

.about img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
    box-shadow: 0 8px 20px #EAEFEF;
}

.about p {
    font-size: 20px;
    color: #e0e0ff;
    line-height: 1.6;
    text-align: justify;
}

.about .block {
    margin: 10px auto;
    padding: 15px;
    border-radius: 5px;
  }

.block p {
    text-align: right;
}
  

  




form {
    background-color: #162040;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #4f5f93;
    border-radius: 6px;
    box-sizing: border-box;
  }
  textarea {
    height: 100px;
  }
  .options, .terms {
    margin-top: 12px;
  }
  .options label, .terms label {
    font-weight: normal;
    margin-right: 15px;
  }
  button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background-color: #1b1a55;
    color: #cdcdcd;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #2a2970;
  }